
<div class="breadcrumb-section py-3  mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Your account</li>
      </ol>
    </nav>
  </div>
</div>
<div class="project-header purple-grad-bg pt-4 pb-4 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-lg-1 mb-3 pt-1 d-flex align-items-start">
        <img src="https://github.com/ecosyste-ms.png" alt=" " class="img-fluid project-logo" onerror="this.style.display='none'">
      </div>
      <div class="col-12
        col-md-10 col-lg-11
      ">
      
        <h1 class="display-1 extra-bold">Ben Nicholls</h1>
        <div class="d-xl-flex justify-content-between align-items-center mb-2">
          <div>
            <p>Your account</p>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-3">
      <ul class="nav nav-pills flex-column dboard-nav me-4">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Your details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Plan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">API Key</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Billing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Password and security</a>
        </li>
      </ul>
    </div>
    <div class="col-12 col-lg-9">
      <h1 class="mb-4">Overview</h1>
      <div class="d-md-flex justify-content-between align-items-center mb-2">
        <h2 class="fs-6 fw-normal mb-0">Your details</h2>
        <a href="#" class="small">Change</a>
      </div>
      <div class="well p-3 mb-5">
        <p><strong>Ben Nicholls</strong></p>
        <p class="mb-0">ben@ecosyste.ms</p>
      </div>
      <div class="d-md-flex justify-content-between align-items-center mb-2">
        <h2 class="fs-6 fw-normal mb-0">Plan</h2>
        <a href="#" class="small">Change</a>
      </div>
      <div class="well p-3 mb-5">
        <h3>Pro</h3>
        <p><strong>5000 requests</strong> per hour at <strong>$120</strong> per month</p>
        <p class="small mb-0">Billed <em>monthly</em></p>
      </div>
      <div class="d-md-flex justify-content-between align-items-center mb-2">
        <h2 class="fs-6 fw-normal mb-0">API Key</h2>
        <a href="#" class="small">View</a>
      </div>
      <div class="well p-3 mb-5">
        <p class="mb-0">You have <strong>one</strong> active API key</p>
      </div>
      <div class="d-md-flex justify-content-between align-items-center mb-2">
        <h2 class="fs-6 fw-normal mb-0">Billing status</h2>
        <a href="#" class="small">View</a>
      </div>
      <div class="well p-3 mb-5">
        <p><strong>Next invoice:</strong> 26 September 2025</p>
        <p class="mb-0"><strong>Payment method:</strong> Card via Stripe</p>
      </div>
      <div class="d-md-flex justify-content-between align-items-center mb-2">
        <h2 class="fs-6 fw-normal mb-0">Password and security</h2>
        <a href="#" class="small">Change</a>
      </div>
      <div class="well p-3 mb-5">
        <p class="mb-0">Login via <strong>Github</strong></p>
      </div>

      <!-- your details page -->
      <h1 class="mb-4 mt-5">Your details</h1>
      <label class="form-label" for="name">
        <p class="mb-0">Your name</p>
        <p class="text-muted small mb-0">Visible as part of any publicly viewable collections you&apos;ve created</p>
      </label>
      <input class="form-control border-purple-light mb-5" required="required" title="Please enter a name" type="name" name="name" id="name" value="Ben Nicholls">

      <label class="form-label" for="email">
        <p class="mb-0">Email address</p>
      </label>
      <input class="form-control border-purple-light mb-5" required="required" title="Please enter a name" type="email" name="email" id="email" value="ben@ecosyste.ms">
     
      <label class="form-label" for="displayphoto">
        <p class="mb-0">Display photo</p>
        <p class="mb-2 small text-muted">Profile picture imported via GitHub account</p>
      </label>
        <div class="well p-3 mb-5">
          <div class="d-md-flex align-items-center">
            <img src="https://github.com/ecosyste-ms.png" alt=" " class="rounded border img-fluid project-logo me-3 mb-3 mb-md-0" height="100" width="100" onerror="this.style.display='none'">
         
            
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="showProfilePicture" checked>
              <label class="form-check-label" for="showProfilePicture">
                Show my profile picture on ecosystems
              </label>
       </div>
        </div>
          
          
          

        </div>

      <hr />
      <a href="#" class="btn btn-primary rounded-pill">Save</a>

      <!-- Plan page -->
      <h1 class="mb-4 mt-5">Plan</h1>
      <h2 class="h6 fw-normal">Your plan</h6>
      <div class="well p-3 mb-5">
        <h3 class="h4">Pro</h3>
        <p class="small"><strong>5000 requests</strong> per hour at <strong>$200</strong> per month</p>
        <p class="small mb-0">Billed <em>monthly</em></p>
        <p class="small"><a href="#">Change</a></p>
        <hr />
        <p class="small mb-0">Next payment due <strong>Jun 18, 2026</strong></p>
      </div>
      <!-- API key page -->
      <h1 class="mb-4 mt-5">API Key</h1>
      <div class="well p-3 mb-5">
        <h2 class="h3" id="api-key-label">Your API key</h2>
        <div class="input-group mb-3">
           <input type="text" class="form-control" aria-label="API Key" aria-describedby="api-key-label" value="XMCM6-DKYCQ-2BHQH-4PCHR-TBJCR">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2"><%= bootstrap_icon 'copy',
            width:12, height:12, aria_hidden:'true',
            focusable:'false', role:'img', class:'me-1' %> Copy</button>
        </div>
        <p class="small"><a href="#">How to use your API key</a></p>
      </div>
      <p class="small mt-5">Your API key is how we manage your rate limits. Sharing your API key is against our terms of service and will result in throttling. If you think your API key has been shared generate a new one to revoke any existing keys.</p>
      <p class="mt-4"><a href="#" class="btn btn-danger rounded-pill">Generate a new key</a></p>

      <!-- Billing page -->
      <h1 class="mb-4 mt-5">Billing</h1>
      <div class="row">
        <div class="col col-lg-7">
          <div class="well p-3 rounded">
            <h2 class="h4">Payment method</h2>
            <p><%= bootstrap_icon 'credit-card',
            width:18, height:18, aria_hidden:'true',
            focusable:'false', role:'img', class:'me-2' %>Mastercard ending in <code>2342</code> expiry <code>09/2026</code></p>
            <p class="small"><a href="#">Add new</a>  <a href="#">Edit</a></p>
          </div>
        </div>
        <div class="col col-lg-5">
          <h2 class="h6 fw-normal">Your plan</h6>
          <h3 class="h4">Pro</h3>
          <p class="small"><strong>5000 requests</strong> per hour at <strong>$200</strong> per month</p>
          <p class="small mb-0">Billed <em>monthly</em></p>
          <p class="small"><a href="#">Change</a></p>
          <hr />
          <p class="small mb-0">Next payment due <strong>Jun 18, 2026</strong></p>
        </div>
      </div>
      <h2 class="h3 mt-4 mb-3">Billing history</h2>
      <div class="table-responsive">
        <table class="table">
          <thead class="table-light">
            <tr>
              <th scope="col">Month</th>
              <th scope="col">Amount</th>
              <th scope="col">Invoice</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>September 2025</td>
              <td>$200.00</td>
              <td><a href="#">View Invoice</a></td>
            </tr>
            <tr>
              <td>October 2025</td>
              <td>$200.00</td>
              <td><a href="#">View Invoice</a></td>
            </tr>
            <tr>
              <td>November 2025</td>
              <td>$200.00</td>
              <td><a href="#">View Invoice</a></td>
            </tr>
            <tr>
              <td>December 2025</td>
              <td>$200.00</td>
              <td><a href="#">View Invoice</a></td>
            </tr>
            <tr>
              <td>January 2026</td>
              <td>$200.00</td>
              <td><a href="#">View Invoice</a></td>
            </tr>
            <tr>
              <td>February 2026</td>
              <td>$200.00</td>
              <td><a href="#">View Invoice</a></td>
            </tr>
            <tr>
              <td>March 2026</td>
              <td>$200.00</td>
              <td><a href="#">View Invoice</a></td>
            </tr>
            <tr>
              <td>April 2026</td>
              <td>$200.00</td>
              <td><a href="#">View Invoice</a></td>
            </tr>
            <tr>
              <td>May 2026</td>
              <td>$200.00</td>
              <td><a href="#">View Invoice</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- API key page -->
      <h1 class="mb-4 mt-5">Password and security</h1>
      <div class="alert alert-info" role="alert">
        Your account is linked to GitHub, change your password or security settings in your <a href="#">GitHub Account</a>.
      </div>
      <label class="form-label" for="password">
        <p class="mb-0">Change password</p>
      </label>
      <input class="form-control border-purple-light mb-4" required="required" title="Password" type="password" name="password" id="password" value="password">
      <label class="form-label" for="password-confirm">
        <p class="mb-0">Confirm password</p>
      </label>
      <input class="form-control border-purple-light mb-5" required="required" title="Password" type="password" name="password-confirm" id="password-confirm" value="password">
      <hr />
      <a href="#" class="btn btn-primary rounded-pill">Save</a>

      <h2 class="mb-4 mt-5">Linked accounts</h2>
      <div class="well p-3 mb-5">
        <p><%= bootstrap_icon 'github',
            width:20, height:20, aria_hidden:'true',
            focusable:'false', role:'img', class:'me-1' %><strong>Github</strong></p>
        <p class="mb-0">@benjam <a href="#">Unlink</a></p>
      </div>
      
    </div>
  </div>
</div>