
<div class="breadcrumb-section py-3  mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li><!-- if this is a project or collection you made, probably insert your name here? -->
          <li class="breadcrumb-item"><a href="/projects">Projects</a></li>
        <li class="breadcrumb-item active" aria-current="page">dashboards</li>
      </ol>
    </nav>
  </div>
</div>
<div class="project-header purple-grad-bg pt-4 pb-4 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-lg-1 mb-3 pt-1 d-flex align-items-start">
        <a class="d-block" title="View all repositories by ecosyste-ms" data-bs-toggle="tooltip" data-bs-placement="top" href="/projects/github.com/ecosyste-ms/dashboards/owner_collection">
          <img src="https://github.com/ecosyste-ms.png" alt="github.com/ecosyste-ms/dashboards logo" class="img-fluid project-logo" onerror="this.style.display='none'" style="cursor: pointer;">
</a>      </div>
      <div class="col-12
        col-md-10 col-lg-11
      ">
      
        <h1 class="display-1 extra-bold">dashboards</h1>
        <div class="d-xl-flex justify-content-between align-items-center mb-2">
          <div>
              <p>A web application to visualize and manage open source project data from the Ecosyste.ms API.</p>
            <p class="mb-0 text-muted">github.com/ecosyste-ms/dashboards</p>
          </div>
          <div class="d-flex gap-2 align-self-start mt-3 mt-xl-0">
                <a class="btn btn-warning btn-sm rounded-pill" data-bs-toggle="tooltip" data-bs-placement="top" data-confirm="Remove this project from your projects list?" title="Remove from your projects" rel="nofollow" data-method="delete" href="/projects/github.com/ecosyste-ms/dashboards/remove_from_list">
                  <svg width="12" height="12" aria_hidden="true" focusable="false" role="img" class="bi bi-heart-fill me-1" viewBox="0 0 16 16" fill="currentColor" version="1.1" aria-hidden="true"><path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"></path></svg>
                  In your projects
</a>            <a id="copyLink" href="javascript:void(0)" role="button" class="btn btn-primary btn-primary--dark btn-sm rounded-pill" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Copy URL">
              <svg width="12" height="12" aria_hidden="true" focusable="false" role="img" class="bi bi-copy me-1" viewBox="0 0 16 16" fill="currentColor" version="1.1" aria-hidden="true"><path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"></path></svg>
              Share
            </a>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
  <h1>Account</h1>
  </div>
</div>