<div class="container commercial-hero">
  <div class="row">
    <div class="col-12 my-5">
      <h1 class="display-2">Commercial use</h1>
      <p class="lead">Using ecosyste.ms data and services for commercial purposes</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6 mb-5">
      <h3 class="h4">Supporting enterprise applications, government research, and non-profit grantmakers</h3>
      <p>ecosyste.ms has been used to launch a new kind of open source security company, expanded support for an established security product, and changed Microsoft&apos;s approach to funding open source. </p>
      <p>We&apos;ve helped countless others publish research on and/or fund open source software including <strong>The République Française</strong>, <strong>The Linux Foundation</strong>, <strong>The Chan Zuckerberg Initiative</strong>, <strong>The Sovereign Tech Agency</strong>, and <strong>The Digital Infrastructure Insights Fund</strong>. </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-8 mb-5">
      <h3>Serving</h3>
      <div class"dashboard-grid">
        <div class="three-equal-widgets">
          <div class="card well p-3 my-3 border-0">
            <div class="card-body">
              <h5 class="card-title small">Requests</h5>
              <div class="stat-card mb-2">
                <div class="stat-card-body">
                  <span class="stat-card-title stat-card-title--large stat-card-number-neutral">
                    40m
                  </span>
                  <span class="stat-card-text">Per day</span>
                </div>
              </div>
            </div>
          </div>
          <div class="card well p-3 my-3 border-0">
            <div class="card-body">
              <h5 class="card-title small">Data transferred</h5>
              <div class="stat-card mb-2">
                <div class="stat-card-body">
                  <span class="stat-card-title stat-card-title--large stat-card-number-neutral">
                    300GB
                  </span>
                  <span class="stat-card-text">Per day</span>
                </div>
              </div>
            </div>
          </div>
          <div class="card well p-3 my-3 border-0">
            <div class="card-body">
              <h5 class="card-title small">Worker requests</h5>
              <div class="stat-card mb-2">
                <div class="stat-card-body">
                  <span class="stat-card-title stat-card-title--large stat-card-number-neutral">
                    15m
                  </span>
                  <span class="stat-card-text">Per day</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p class="h2 mt-4" style="color: var(--es-purple-dark)">Every. Single. Day.</p>
    </div>
  </div>
</div>
<div class="commercial-home__ecosystems-data grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <h2 class="mb-4 mt-5">All built on ecosyste.ms data</h2>
        <p class="h2 mb-4">The world&rsquo;s most comprehensive and accurate dataset about open source production and use</p>
        <p><a href="https://ecosyste.ms" class="spesh-link mb-5">Find out more</a></p>
      </div>
    </div>
  </div>
</div>
<div class="container my-5">
  <div class="row mb-5">
    <div class="col-3 col-md-2 col-xl-1">
      <%= image_tag("heart.svg", alt: " ", size: "85x85", class: "") %>
    </div>
    <div class="col-9 col-md-10 col-xl-7">
    <h3 class="h4 mt-3">Using ecosyste.ms for free</h3>
    <p>ecosyste.ms was developed with a simple goal: to build shared infrastructure for those seeking to create a sustainable and secure foundation of open source software. Infrastructure for infrastructure, if you will.</p>
    <p>This ethos extends to ecosyste.ms itself: our code and data are licensed (AGPL and CC-BY-SA respectively) to ensure that the community can use the services we provide, free of charge, if you contribute your work back to that same community.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-3 col-md-2 col-xl-1">
      <%= image_tag("data.svg", alt: " ", size: "85x85", class: "") %>
    </div>
    <div class="col-9 col-md-10 col-xl-7">
    <h3 class="h4 mt-3">Using ecosystems at work</h3>
    <p>We know that commercial organisations have an important role to play in achieving our goal. So, for those that wish to operate an instance of ecosyste.ms or utilise ecosyste.ms’ data for their own use, we offer less restrictive licences, available to purchase through our non-profit host Open Source Collective, who are registered vendors to most large open-source supporting organisations.</p>
    
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-xl-8">
      <div class="well p-5 rounded mt-5">
      <h3>Request a license</h3>
      <p>To operate an instance of ecosyste.ms or utilise ecosyste.ms&apos; data for your own use, we offer less restrictive licences. Email us to discuss your needs.</p>
      <a href="mailto:commercial@ecosyste.ms" class="btn btn-primary rounded-pill">Email us</a>
      </div>
    </div>
  </div>
</div>

