<div class="container commercial-hero">
  <div class="row">
    <div class="col-12 my-5">
      <h1 class="display-2">Commercial use</h1>
      <p class="lead">Using ecosyste.ms data and services for commercial purposes</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6 mb-5">
      <h3 class="h4">Supporting enterprise applications, government research, and non-profit grantmakers</h3>
      <p>ecosyste.ms has been used to <a href="https://socket.dev" class="spesh-link">launch a new kind of open source security company</a>, expand support for an <a href="https://snyk.io" class="spesh-link">established security product</a>, and <a href="https://opensource.microsoft.com/blog/2024/06/27/5-things-we-learned-from-sponsoring-a-sampling-of-our-open-source-dependencies/" class="spesh-link">change Microsoft&apos;s approach to funding open source</a>.</p>
      <p>We&apos;ve helped countless others publish research on and/or fund open source software including <a href="https://www.elysee.fr/en/" class="spesh-link">The République Française</a>, <a href="https://www.linuxfoundation.org" class="spesh-link">The Linux Foundation</a>, <a href="https://chanzuckerberg.com" class="spesh-link">The Chan Zuckerberg Initiative</a>, <a href="https://www.sovereign.tech" class="spesh-link">The Sovereign Tech Agency</a>, and <a href="https://infrastructureinsights.fund" class="spesh-link">The Digital Infrastructure Insights Fund</a>.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-8 mb-5">
      <h3>Serving</h3>
      <div class"dashboard-grid">
        <div class="three-equal-widgets three-equal-widgets--wrap-sooner">
          <div class="card well p-3 my-3 border-0">
            <div class="card-body">
              <h5 class="card-title small">Requests</h5>
              <div class="stat-card mb-2">
                <div class="stat-card-body">
                  <span class="stat-card-title stat-card-title--large stat-card-number-neutral">
                    40m
                  </span>
                  <span class="stat-card-text">Per day</span>
                </div>
              </div>
            </div>
          </div>
          <div class="card well p-3 my-3 border-0">
            <div class="card-body">
              <h5 class="card-title small">Data transferred</h5>
              <div class="stat-card mb-2">
                <div class="stat-card-body">
                  <span class="stat-card-title stat-card-title--large stat-card-number-neutral">
                    300GB
                  </span>
                  <span class="stat-card-text">Per day</span>
                </div>
              </div>
            </div>
          </div>
          <div class="card well p-3 my-3 border-0">
            <div class="card-body">
              <h5 class="card-title small">Worker requests</h5>
              <div class="stat-card mb-2">
                <div class="stat-card-body">
                  <span class="stat-card-title stat-card-title--large stat-card-number-neutral">
                    15m
                  </span>
                  <span class="stat-card-text">Per day</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p class="h2 mt-4" style="color: var(--es-purple-dark)">Every. Single. Day.</p>
    </div>
  </div>
</div>
<div class="commercial-home__ecosystems-data grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <h2 class="mb-4 mt-5">All built on ecosyste.ms</h2>
        <p class="h2 mb-4">The world&rsquo;s most comprehensive and accurate dataset about open source production and use</p>
        <p><a href="https://ecosyste.ms" class="spesh-link mb-5">Find out more</a></p>
      </div>
    </div>
  </div>
</div>
<div class="container my-5">
<div class="row">
  <div class="col-12 col-lg-6">
    <div class="row mb-5">
      <div class="col-3 col-xl-2">
        <%= image_tag("heart.svg", alt: " ", size: "85x85") %>
      </div>
      <div class="col-9 col-xl-10">
        <h3 class="mt-3">Using ecosyste.ms for free</h3>
        <p>Our code and data are licensed (AGPL and <span class="nobr">CC-BY-SA</span> respectively) to ensure that the community can use the services we provide, free of charge, if you contribute your work back to that same community.</p>
        <a href="https://github.com/ecosyste-ms/" class="btn btn-primary rounded-pill">View on GitHub</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="row">
      <div class="col-3 col-xl-2">
        <%= image_tag("data.svg", alt: " ", size: "85x85") %>
      </div>
      <div class="col-9 col-xl-10">
        <h3 class="mt-3">Using ecosyste.ms at work</h3>
        <p>To operate an instance of ecosyste.ms or utilise ecosyste.ms&apos; data for your own use, we offer less restrictive licences. Email us to discuss your needs.</p>
        <a href="mailto:commercial@ecosyste.ms" class="btn btn-primary rounded-pill">Email us</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

