@import "bootstrap"; 
@import "ecosystems";

.site-logo {
  background-image: asset-url('ecosystems-logo.svg');
  width: 246px;
  height: 50px; 
}

.site-logo--white {
  background-image: asset-url('ecosystems-logo-white.svg');
}
