@import "ecosystems";

.site-logo {
  background-image: asset-url('ecosystems-logo.svg');
  width: 246px;
  height: 50px; 
}

.site-logo--white {
  background-image: asset-url('ecosystems-logo-white.svg');
}

.home__hero {
  .container {
    position: relative;
  }
}

.home__hero__title {
  max-width: 63rem;
}

.home__stat {
  z-index: -1;
  .stat-card {
    margin-right: 2em;
    &:last-child {
      margin-right:0;
    }
  }
  .container {
    z-index: 2;
    position: relative;
  }
}

.home__stat-lead {
  max-width: 45rem;
}

.home__stat-para {
  max-width: 38rem;
}

.promotion-card {
  border: 0;
  border-radius: 1rem;
  background-image: linear-gradient($color-orange-light 0%, $color-orange 100%);
  overflow: hidden;
  .card-body {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
  }
  .card-image__img {
		position: relative;
		bottom: -2rem;
		@include media-breakpoint-only(lg) { 
			bottom: -5.5rem;
		}
  }
	a {
		@include spesh-link();
	}
}

/* gem-bg is how the gems are laid out and behave on the homepage, they stick as you scroll then dissappear behind the following section */


.gem-bg__container {
  position: relative;
  top: 1.5rem;
  right: 0;
  z-index: 0;
  height: 0;
  width: 100%;
	will-change: transform; /* Optimize for smooth animations */
  img {
    position: absolute;
  }
}

.stone-1 {
  height: 150px;
  width: 150px;
  right: 10%;
  top: -50px;
	@include media-breakpoint-up(md) { 
		height: 220px;
		width: 220px;
	}
	@include media-breakpoint-up(lg) { 
		height: 300px;
		width: 300px;
	}
}

.stone-2 {
  height: 120px;
  width: 120px;
  right: 30%;
  top: 90px;
	@include media-breakpoint-up(md) { 
		height: 145px;
		width: 145px;
		top: 140px;
	}
	@include media-breakpoint-up(lg) { 
		height: 195px;
		width: 195px;
		top: 200px;
	}
}

.stone-3 {
  height: 80px;
  width: 80px;
  right: 10%;
  top: 160px;
	@include media-breakpoint-up(md) { 
		height: 110px;
		width: 110px;
		top: 190px
	}
	@include media-breakpoint-up(lg) { 
		height: 160px;
  	width: 160px;
		top: 290px;
	}
}

.position-rel {
	position: relative;
	z-index: 50;
}

.white-bg {
	background-color: $color-white;
}

.directory {
	a {
		@include spesh-link();
	}
}

.directory-section {
	border-bottom: 3px solid $color-purple-light;
}

.logo-grid {
	img {
		min-width: 150px;
		max-width: 250px;
		display: inline-block;
		margin-bottom: 1rem;
	}
}

.styleguide {
	article {
		border-bottom: 3px solid $color-purple-light;
		margin-bottom: 5em !important;
		padding-bottom: 5em !important;
	}
	section > h2 {
		@extend .display-3;
	}
	.bd-heading{
		
		h3 {
			@extend .h2;
		}
	} 
}

.color-box {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  display: inline-block;
}

// Primary Colors
.color-box--purple {
  background-color: $color-purple;
}

.color-box--purple-light {
  background-color: $color-purple-light;
}

.color-box--purple-dark {
  background-color: $color-purple-dark;
}

// Secondary Colors
.color-box--green {
  background-color: $color-green;
}

.color-box--green-light {
  background-color: $color-green-light;
}

.color-box--green-dark {
  background-color: $color-green-dark;
}

.color-box--green-darker {
  background-color: $color-green-darker;
}

// Tertiary Colors
.color-box--orange {
  background-color: $color-orange;
}

.color-box--orange-light {
  background-color: $color-orange-light;
}

.color-box--orange-dark {
  background-color: $color-orange-dark;
}

// Tones
.color-box--black {
  background-color: $color-black;
}

.color-box--white {
  background-color: $color-white;
}

.color-box--grey-light {
  background-color: $color-grey-light;
}

.color-box--grey {
  background-color: $color-grey;
}

.color-box--grey-dark {
  background-color: $color-grey-dark;
}

//Gradients {
.color-box--purple-gradient {
	background: linear-gradient(0deg, $color-purple-dark 50%, $color-purple 100%);
}
.color-box--grey-grad-bg  {
  background: linear-gradient(180deg, #FFFFFF 0%, #F5F5FF 100%);
}

.character-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	gap: 20px;
	margin-top: 20px;
}

.character-box {
	border: 1px solid #DCDCE0;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
}

.character-box p {
	margin: 10px 0 0;
	font-size: 14px;
	color: #4C4C61;
}

.page-content--demo {
	border: 1px solid $color-grey;
	max-width: 48em;
}
