@import "bootstrap"; 

.text-decoration-hover{
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

/* Variables */
$color-purple: #7878EF;
$color-purple-light: #BBBBFF;
$color-purple-dark: #5C5CCF;

$color-orange: #FF807D;
$color-orange-light: #FEBDB9;
$color-orange-dark: #C65568;

$color-green: #45E56E;
$color-green-light: #75D293;
$color-green-dark: #2EAF6B;

$color-black: #1D1D28;
$color-white: #FFFFFF;



.site-logo {
  font-size: 0;
  line-height: 0;
  color: transparent;

  background-image: asset-url('ecosystems-logo.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;

  width: 246px;
  height: 50px; 
}

.site-logo--white {
  background-image: asset-url('ecosystems-logo-white.svg');
}


.dark-section {
  background-color: $color-purple-dark;
  color: $color-white;
  a {
    color: $color-white;
    &:hover,
    &:active,
    &:focus 
    &:visited {
      color: $color-white;
    }
    
  }
}

/*  Header */
.header {
  padding: 2em 0;
}

/*  Footer */
.footer {
  padding: 2em 0;
  margin-top: 4em;
}

.footer-links {
 
  @include media-breakpoint-up(md) {
    text-align: right;
  }
}

.footer-icons {
  margin-top: 1em;
  a {
    margin: 0 0.5em;
    text-decoration: none;
  }
}
